{% extends './../../../views/layout.html' %}

{%block css%}
<style type="text/css">
  img{max-width: 640px;}
</style>
{%endblock%}

{% block content %}
<h1>simple images example</h1>
<h2>scroll for more</h2>
<div style="margin-top:2000px"></div>
<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="/img/demo/t0163694c54036442cd.jpg"
  onload="lzld(this)" />
<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="/img/demo/t01d832c0f121af7564.jpg"
  onload="lzld(this)" />
<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="/img/demo/t0173f73e6b18e026d6.jpg"
  onload="lzld(this)" />

<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="/img/demo/t01017ff43f715f2a86.jpg"
  onload="lzld(this)" />

<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="/img/demo/t01ae53ea3a1e4c811e.jpg"
  onload="lzld(this)" />

<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="/img/demo/t011fd5b39b9362c433.jpg"
  onload="lzld(this)" />

<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="/img/demo/t01363288fd7e7ff5aa.jpg"
  onload="lzld(this)" />

<img
  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
  data-src="/img/demo/t0157cfcc5d4cd95662.jpg"
  onload="lzld(this)" />

{% endblock %}
