{% extends './../../../views/layout.html' %}
{% block css %}
<link rel="stylesheet" href="./css/demo/aa.css">
<link rel="stylesheet" href="./css/demo/bb.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block javascript%}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="item">
    全部行情：<select id="select">
    <option value ="1324">OKEx</option>
    <option value ="338">Binance</option>
    <option value="108">Huobi.pro</option>
    <option value="1333">Gate.io</option>
</select>
    </select>
    {% if info != null && info.length > 0 %}
    <table class="table table-hover">
        <caption>市值</caption>
        <thead>
        <tr>
            <th>交易对</th>
            <th>价格</th>
            <th>人民币价格</th>
            <th>涨幅(今日)</th>
            <th>交易额(24h)</th>
            <th>k线</th>
        </tr>
        </thead>
        <tbody>
        {% for data in resultSet%}
        <tr>
            <td class="text-center ">
                <span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>{{data.pair}}
                <a href="/currency/?com_id=btc_cny&amp;market_id=1303&amp;market_name=cmc&amp;symbol=BTC&amp;anchor=CNY&amp;" style="color: rgba(0, 0, 0, 0.65); display: flex; align-items: center;"><img src="{{data.logo}}" class="mr-5" alt="" style="width: 14px; height: 14px;">
              <span style="line-height: 1.2;">{{data.currency}}<br>
                <span class="gray fs-12">{{data.alias}}</span>
              </span></a>
            </td>

            <td class="text-right ">${{data.price}}</td>
            <td class="text-right">{{data.hr_price_display}}</td>
            <td class="text-right">
                <div class="m-green">{{data.percent_change_utc0}}%</div>
            </td>
            <td class="text-right">{{(data.volume_24h /100000000).toFixed(2)}}亿{{data.anchor}}</td>
            <td class="blank-td"></td>
        </tr>
        {% endfor %}

        {% else %}
        <div class="item-focus">
            <h2 class="title-focus">暂无数据</h2>
            <span class="line"></span>
        </div>
        {% endif %}

        </tbody>
    </table>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock %}
